{% set pageTitle = title + ' - ' + site.name %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

<title>{{ pageTitle }}</title>

<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ site.url + page.url }}"/>

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}"/>
{% endif %}

{% if metaDescription %}
  <meta name="description" content="{{ metaDescription }}"/>
  <meta name="twitter:description" content="{{ metaDescription }}"/>
  <meta property="og:description" content="{{ metaDescription }}"/>
{% endif %}

{% set socialImage = social_image if social_image else site.socialImage %}

{% if socialImage %}
  <meta property="og:image" content="{{ socialImage }}"/>
  <meta name="twitter:image" content="{{ socialImage }}"/>
  <meta property="og:image:alt" content="Page image for {{ site.name }}"/>
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}"/>
{% endif %}


<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E1QD6P086C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E1QD6P086C');
</script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e4li7lkmp2");
</script>
